@charset "UTF-8";


body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;    
} h1{
    color: rgb(167, 113, 187);
    background-color: rgb(217, 140, 140);
}
h2{
    color: brown;
}
p{
    text-align: justify;
}