@charset "UTF-8";

/*Estilos para impressoras*/


html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

header > h1{
    text-align: center;
    background-color: rgb(39, 48, 48);
}

menu{
  
    display: none;
}

article::after{
    content: 'Esse artigo foi realizado por @Victor';
}

article {
    display: block;
    margin: auto;
    background-color: lightgray;

}

main article h2{
    text-align: center;
}